
<% provide(:title, "Contact") %>

<div id="form">
  <p class="form-title1">Cafe Vista</p>
  <p class="form-title">質問送信フォーム</p>
  <%= form_with(url: "#", scope: :password_reset) do |f| %>

    <p>質問内容を入力してください(400文字以内)</p>
    <p class="mail">
      <%= f.email_field :email, class: 'form-control' %>
    </p>

    <p class="submit">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

