<div class="main-visual">
  <h2>Cafe Vista</h2>
    <%= link_to "はじめる(暇つぶし　1日１ずつ機能追加)", main_path, class: 'btn' %>
  <!--
  <div class = "intro">
    <%# <%= image_tag "setumi.png" %> %>
  </div>
  -->
</div>
