<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div id="contents">
  <div class="main-area">
    <p>a</p>
    <p>cc</p>

  </div>

  <main class="column">
    <!--メインエリア-->
    <div class="main-area">
      <div class ="btn-area">
        <li>
          <a href="#">絞り込み(カフェの種類を選択してください。)</a><br>
          <a href="#">aaa</a><br>
        </li>
      </div>
      <%= image_tag "map.png" %>
    </div>
    <!--/.main-area-->


    <div class="sub-area">
      <p>検索結果(**************件)🔍</p>
      <%= image_tag "1.jpg" %>
    </div>
    <!--/.sub-area-->

  </main>

</div>

</body>
</html>