@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 10px;
  margin: 0;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


header {
  z-index: 1000; /* ヘッダーを他の要素よりも上に表示 */
  padding: 10px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0; padding: 0;
  font-size: 21px;
  font-family: 'Caveat', cursive;
}

header a {
  text-decoration: none;
  color: white;
}

header a.clicked-link {
  text-decoration: underline; /* 下線を追加 */
  color: #ff0000; /* 赤色に変更 */
}

header ul {
  list-style: none;
  margin: 0;
  display: flex;
}

header li {
  margin: 0 0 0 10px;
  font-size: 14px;

}

header nav {
  margin: 0 0 0 auto;
}

.main-content {
  padding-top: 60px; /* ヘッダーの高さ分の余白を追加 */
  z-index: 999; /* コンテンツをヘッダーよりも下に表示 */
  /* その他のスタイル */
}

.main-visual {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background: url("cafe_index.jpg") center center / cover no-repeat;
  position: relative;
  background-size: cover; /* 背景画像が要素全体をカバーするように調整 */

}



.main-visual h2 {
  position: absolute;
  text-align: center; /* 中央揃え */
  top: 100px; /* 下端に配置 */
  left: 50%; /* 水平方向中央に配置 */
  transform: translateX(-50%); /* 中央揃えの微調整 */
  font-family: 'Caveat', cursive;
  font-size: 60px;
}

.main-visual .intro {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  bottom: 200px;
}

.main-visual .intro img {
  width: 50%;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
}
.main-visual .btn{
  color: black;
  font-size: 20px;
  border-top: 4px solid #ece1c0;
  border-right: 4px solid #ece1c0;
  border-bottom: 4px solid #ece1c0;
  border-left: 4px solid #ece1c0;
  border-radius: 0;
  background: #d5bc6b;
}

.start-btn{
  font-family:"MS Pゴシック",sans-serif;
  position: relative;
  top: 60px; /* ボタンを上に移動 */
}

.main-visual .btn:hover {
  color: #fff;
  border-top: 4px solid #f5f5f1;
  border-right: 4px solid #f5f5f1;
  border-bottom: 4px solid #f5f5f1;
  border-left: 4px solid #f5f5f1;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  bottom: 0;
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  text-align: center;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #ef9f4a;
    }
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



/* 画像全般の設定 */
img {
  border: none; /* 画像のボーダーをなしに設定 */
  max-width: 100%; /* 画像の最大幅を親要素に合わせる */
  height: auto; /* 画像の高さを自動調整 */
  vertical-align: middle; /* 画像を垂直方向に中央に配置 */
}

main {
  margin: 0.1rem 0;	/*ブロックの外側（上下、左右）に空けるスペース*/
  width: 100%;

}

.meter-area {
  border: 2px solid #ef9f4a; /* 枠線を追加 */
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px; /* 枠線の角を丸くする場合 */
}

.btn-area {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 744px;
  border: 2px solid #ef9f4a; /* 枠線を追加 */
  border-radius: 8px; /* 枠線の角を丸くする場合 */
}

.btn-area li {
  display: flex;
  flex-direction: row; /* デフォルトの方向は横になっているので不要かもしれませんが、明示的に指定 */
}

.btn-area li p {
  margin-right: 10px; /* パラグラフ間の余白を設定 */
}

.btn-area li p img {
  width: 60px; /* 適切なサイズに調整 */
  height: auto; /* 縦横比を保持 */
  margin-bottom: 5px; /* 上方向のマージンを追加 */
}


/*メインエリア*/
main.column .main-area {
  margin-bottom: 30px;	/*ボックスの下に空けるスペース。sub-areaとの間の余白です。*/
}

/*画面幅900px以上の追加指定*/
@media screen and (min-width:900px) {

  main.column {
    display: flex;
    justify-content: flex-start; /* 左寄せ */
  }


  /*メインエリア*/
  main.column .main-area {
    border: 2px solid #ef9f4a; /* 枠線を追加 */
    border-radius: 8px; /* 枠線の角を丸くする場合 */
    margin-top: 20px;
    margin-bottom: 0;
    order: 2;				/*並び順。数字の小さい順番に表示されます。*/
    flex: 0.8;
    margin-left: 10px;		/*sub-areaとの間に空けるスペース*/
    height: 450px;
  }

  main.column .sub-area {
    order: 1;
    width: 500px;
    max-height: 450px;
    overflow-y: scroll;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #ef9f4a; /* 枠線を追加 */
    border-radius: 8px; /* 枠線の角を丸くする場合 */
  }

}

/* 画像 */
.gallery-image {
  margin-bottom: 10px; /* 任意のピクセル数や単位で適切な間隔を指定してください */
}

.fixed_btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 90px; /* 任意の大きさを設定 */
  height: 90px; /* 任意の大きさを設定 */
  padding: 10px; /* 少し調整 */
  background-color: rgba(144, 238, 144, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  cursor: pointer;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* layout */
body, p, form, input {
  margin: 0;
}

#form {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #555;
}

form p {
  font-size: 14px;
}

.form-title {
  text-align: center;
}

.mail,
.pass {
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 300px;
  padding: 4px;
  font-size: 14px;
}

.submit {
  text-align: right;
}

/*ログイン画面などの書き込みフォーム用のcss*/
#form p {
  color: #000000;
  font-weight: bold;
  text-align: center; /* テキストを中央揃えに*/
}

#form .form-title {
  font-family: Arial;
  font-size: 20px;
  color: #000000;
}

#form .form-title1 {
  font-family: 'Caveat', cursive;
  font-size: 40px;
  color: #595656;
}

/* skin */
#form {
  width: 500px; /* 例: 横幅を400pxに指定 */
  border-radius: 6px;
  box-shadow: 0px 1px 10px #ef9f4a;
  border: solid #eec59a 1px;
  background: #fafafa;
}

#form .form-title {
  padding-bottom: 6px;
  border-bottom: 2px solid #ef9f4a;
  margin-bottom: 10px;
}

#form .form-control {
  width: 400px; /* 入力フィールドの幅を指定 */
  margin: 0 auto; /* 左右に自動マージンを設定して中央に配置 */
}


.submit {
  text-align: center; /* ボタンを中央に配置 */
}
.submit input {
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ef9f4a), to(#e8b278));
  background: -moz-linear-gradient(top, #ef9f4a, #e8b278);
  width: 200px; /* 横幅を200pxに指定 */
}

.submit input:hover {
  background: #e8b278;
  border: 4px solid #e8b278; /* ホバー時の枠線の色を指定 */
}



