@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


header {
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0; padding: 0;
  font-size: 23px;
  font-family: 'Caveat', cursive;
}

header a {
  text-decoration: none;
  color: white;
}

header a.clicked-link {
  text-decoration: underline; /* 下線を追加 */
  color: #ff0000; /* 赤色に変更 */
}

header ul {
  list-style: none;
  margin: 0;
  display: flex;
}

header li {
  margin: 0 0 0 15px;
  font-size: 14px;

}

header nav {
  margin: 0 0 0 auto;
}

.main-visual {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background: url("cafe_index.jpg") top center / cover no-repeat;
  position: relative;

}

.main-visual h2 {
  position: absolute;
  text-align: center; /* 中央揃え */
  top: 100px; /* 下端に配置 */
  left: 50%; /* 水平方向中央に配置 */
  transform: translateX(-50%); /* 中央揃えの微調整 */
  font-family: 'Caveat', cursive;
  font-size: 60px;
}

.main-visual .intro {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  bottom: 200px;
}

.main-visual .intro img {
  width: 50%;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
}
.main-visual .btn{
  color: black;
  font-size: 40px;
  line-height: 750px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  bottom: 0;
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  text-align: center;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#contents {
  flex: 1;
  padding: 1%; /* コンテンツ内の余白 */
  height: 100%;
  display: flex; /* flexボックスを使う指定 */
  flex-direction: column; /* 子要素を縦並びにする */
  justify-content: space-between; /* 並び方の指定 */
  max-width: 100%; /* サイトの最大幅。これ以上広がらない。 */
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9) url("home_b.jpeg"); /* 背景の指定（透過度も含む） */
  background-size: cover; /* 画像をアスペクト比を維持したまま親要素いっぱいに表示 */
}

/* 画像全般の設定 */
img {
  border: none; /* 画像のボーダーをなしに設定 */
  max-width: 100%; /* 画像の最大幅を親要素に合わせる */
  height: auto; /* 画像の高さを自動調整 */
  vertical-align: middle; /* 画像を垂直方向に中央に配置 */
}

main {
  margin: 0.1rem 0;	/*ブロックの外側（上下、左右）に空けるスペース*/
  width: 100%;

}

.btn-area li {
  display: flex;
  border-bottom: 3px solid #cddc39;
  flex-direction: row; /* デフォルトの方向は横になっているので不要かもしれませんが、明示的に指定 */
}

.btn-area li p {
  margin-right: 10px; /* パラグラフ間の余白を設定 */
}

.btn-area li p img {
  width: 60px; /* 適切なサイズに調整 */
  height: auto; /* 縦横比を保持 */
  margin-bottom: 5px; /* 上方向のマージンを追加 */
}


/*メインエリア*/
main.column .main-area {
  margin-bottom: 30px;	/*ボックスの下に空けるスペース。sub-areaとの間の余白です。*/
}

/*画面幅900px以上の追加指定*/
@media screen and (min-width:900px) {

  main.column {
    display: flex;
    justify-content: flex-start; /* 左寄せ */
  }


  /*メインエリア*/
  main.column .main-area {
    margin-bottom: 0;
    order: 2;				/*並び順。数字の小さい順番に表示されます。*/
    flex: 0.8;
    margin-left: 10px;		/*sub-areaとの間に空けるスペース*/
    height: 450px;
  }

  /* サブエリア */
  main.column .sub-area {
    order: 1;
    width: 380px;
    max-height: 450px; /* 適切な高さに設定（高さが一定の場合、縦スクロールが有効になります） */
    overflow-y: scroll; /* 常に縦スクロールバーを表示 */

  }
}

/* 画像 */
.gallery-image {
  margin-bottom: 10px; /* 任意のピクセル数や単位で適切な間隔を指定してください */
}

.fixed_btn {
  position: fixed;
  bottom: 40px;
  right: 60px;
  width: 90px; /* 任意の大きさを設定 */
  height: 90px; /* 任意の大きさを設定 */
  padding: 10px; /* 少し調整 */
  background-color: rgba(144, 238, 144, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  cursor: pointer;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}