<header class="navbar navbar-fixed-top navbar-inverse">
  <h1>
    <%= link_to "cafe Land",    root_path %>
  </h1>
  <nav class ="pc-nav">
    <ul>
      <li><%= link_to "アカウント作成",    createacount_path %></li>
      <li><%= link_to "ログイン",    "#" %></li>
      <li><%= link_to "マイページ",    "#" %></li>
    </ul>
  </nav>
</header>
